<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div id="app">
    
   
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="contact d-flex">
                        <div class="info_avatar d-flex px-1 py-2">
                            <div class="img_avatar">
                                <img class="rounded-circle" src="./assets/img/avatar_io.jpg" alt="ragazza">
                                <small class="name_avatar">
                                    Sofia
                               </small>
                            </div>
                        </div>
                        <div class="action d-flex align-items-center px-2">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message px-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /.contact -->
                    <div class="notice">
                       <div class="new_notice">
                           <div class="action_notice">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                       </div>
                    </div>
                    <!-- /.notice -->
                    <div class="search">
                        <nav class="navbar bg-light">
                            <form class="container-fluid">
                              <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                            </form>
                          </nav>
                    </div>
                    <!-- /.search -->
                    <div class="list_contacts">
                        <div class="contact d-flex justify-content-between my-2" v-for="(contact, i) in contacts" @click="setActiveChat(i)" :class=" i == active ? 'select_chat' : ''">
                            <div class="info_avatar d-flex px-1">
                                <img class="rounded-circle" :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="">
                                <div class="name_avatar">
                                        <small>
                                           {{contact.name}}
                                        </small>
                                        <p>
                                            Ultimo messaggio inviato 
                                        </p>
                                 </div>
                            </div>
                            <div class="time align-self-end">
                                <p>
                                    12:00
                                </p>
                            </div>
                        </div>
                    </div>
                            
                    <!-- /.list_contacts -->
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="contact_selected d-flex justify-content-between border-start">
                        <div class="info_avatar d-flex px-1 py-1">
                                <img class="rounded-circle" :src="`./assets/img/avatar${contacts[active].avatar}.jpg`" alt="">
                                <div class="name_avatar">
                                    <small>
                                        {{contacts[active].name}}
                                    </small>  
                                    <p>
                                        Ultimo messaggio inviato
                                    </p>
                                </div>
                        </div>
                        <div class="action d-flex align-items-center px-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-message px-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- message -->
                    <div class="message" v-for="message in contacts[active].messages" :class=" message.status === `sent` ? 'sent' : 'received'" >
                        <p class="text_message">{{message.message}}</p>
                    </div>
                    <!-- /.message -->
                    
                    <!-- write message + emoji-->
                    <div class="write_message d-flex align-items-center justify-content-around position-absolute bottom-0">
                        <div class="emoji mx-3">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input  class="flex-grow-1" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addNewMessage">
                        <div class="microphone mx-3">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                    <!-- /.write message -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

   






    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>