*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --bg-primary:#009688;
    --bg-secondary:#DBDBD2;
    --bg-tertiary:#EAEAEA;
    --bg-notice:#8EDAFC;
}

/* Header */
#site_header{
    height: 144px;
    background-color: var(--bg-primary);
}

/* /Header */

/* Main */
#site_main{
    height: 100vh;
    background-color: var(--bg-secondary);
}
.contact{
    background-color: var(--bg-tertiary);
}
.img_avatar img{
    width: 10%;
}
.img_avatar .name_avatar,
.action i {
    font-size: small;
}
/* /Main */