*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --bg-primary:#009688;
    --bg-secondary:#DBDBD2;
    --bg-tertiary:#EAEAEA;
    --bg-notice:#8EDAFC;
}

/* Header */
#site_header{
    height: 144px;
    background-color: var(--bg-primary);
}

/* /.Header */

/* Main */
#site_main{
    height: 100vh;
    background-color: var(--bg-secondary);
}

/* contact */
.row>* {
    padding-right: 0;
}
.col-4>.contact{
    background-color: var(--bg-tertiary);
}
.img_avatar img{
    width: 10%;
} 

.action i {
    font-size: small;
}
/* /.contact */

/* notice */
.notice{
    background-color: var(--bg-notice);
    padding: 0.50rem ;
}
.new_notice{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;  
}

.action_notice p{
    font-size: xx-small;
}
/* /.notice */

/* search */

/* /.search */

/* list_contacts */
.contact{
    background-color: white;
}
/* /.list_contacts */
/* /.Main */