:root{
    --bg-primary:#009688;
    --bg-secondary:#DBDBD2;
    --bg-tertiary:#EAEAEA;
    --bg-notice:#8EDAFC;
}

/* Header */
#site_header{
    height: 144px;
    background-color: var(--bg-primary);
}

/* /Header */

/* Main */
#site_main{
    height: 100vh;
    background-color: var(--bg-secondary);
}
/* /Main */