body{
    background-color: var(--bg-secondary);
}
    
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --bg-primary:#009688;
    --bg-secondary:#DBDBD2;
    --bg-tertiary:#EAEAEA;
    --bg-notice:#8EDAFC;
    --bg-sent-message:#D5F9BA;
    --bg-received-message:#FFFFFF;
}


.container{
    margin-top: 4rem;
}


.row>* {
    padding-right: 0;
    padding-left: 0;
}

.col-4>.contact,
.col-6>.contact_selected,
.write_message{
    background-color: var(--bg-tertiary);
    height: 50px;
    width: 100%;
}

.img_avatar img{
    width: 10%;
} 

.action i {
    font-size: small;
}
/* /.contact */

/* notice */
.notice{
    background-color: var(--bg-notice);
    padding: 0.50rem ;
}
.new_notice{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_notice p{
    font-size: xx-small;
}
/* /.notice */

/* search */
.input-group-text {
    background-color:var(--bg-received-message);
}

/* /.search */

/* list_contacts */
.col-4{
    background-color: white;
}
.list_contacts .contact{
    height: 40px;
}
.select_chat{
    background-color: var(--bg-secondary);
}
/* /.list_contacts */

/* contact_selected */

.col-6{
    background-image: url(../img/mine.jpg);
    position: relative;
}

.name_avatar p,
.time,
.sent,
.received{
    font-size: xx-small;
}
/* /.contact_selected */

/* messege */
.message{
    display: flex;
    flex-direction: column;
    padding: 0.50rem;
    width: 200px; 
    
    
}
.sent{
    background-color: var(--bg-sent-message); 
    margin: 1rem 3rem;
    align-self:flex-end;
    
}
.received{
    background-color: var(--bg-received-message);
    margin: 1rem 3rem; 
} 
/* /.messege */

/* write message */

/* /.write message */




